@use '../../styles/variables' as *;

.searchContainer {
    position: absolute; 
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: $fullwhite;
    width: 70%;
    border-radius: 20px;
    font-family: $karla;
    padding-bottom: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem; 
    font-weight: 400;
    padding-top: 2rem;
    color: $gray;
}

.searchWrapper {
    display: flex; 
    width: 100%; 
    max-width: 600px; 
}

.searchInput {
    padding: 1.3rem 1rem;
    border: 1px solid $gray;
    border-radius: 40px 0 0 40px;
    font-size: 1rem;
    flex: 1; 
    border-right: none;
    text-transform: capitalize;
}

.searchButton {
    padding: 1.3rem 1rem;
    border: 1px solid $gray; 
    border-radius: 0 40px 40px 0; 
    background-color: $primary;
    color: $white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-left: none; 
    width: 20%;
    
    &:hover {
        background-color: $secondary;
    }
}

@media (max-width: 768px) {
    .searchContainer {
        width: 90%; 
        padding-bottom: 1rem; 
    }

    h2 {
        font-size: 2rem; 
        padding-top: 1rem; 
    }

    .searchWrapper {
        flex-direction: column; 
        width: 100%; 
    }

    .searchInput {
        border-radius: 40px; 
        font-size: 0.9rem;
        padding: 1rem;
        border-right: none; 
        margin-bottom: 0.5rem;
    }

    .searchButton {
        border-radius: 40px; 
        padding: 1rem;
        font-size: 1.1rem; 
        width: 100%; 
    }
}
